<app-menu-bar></app-menu-bar>
<div class="container">
  <ng-container *ngIf="isMobile; then mobile else desktop"></ng-container>
  <ng-template #mobile >
    <app-card *ngFor="let article of articles" [news]="article"></app-card>
  </ng-template>

  <ng-template #desktop >
    <div class="main-news">
      <div class="main-left">
        <app-card [isHighlight]="true" [news]="highlightList[0]"></app-card>
      </div>
      <div class="main-right">
        <app-card [news]="highlightList[1]"></app-card>
        <app-card [news]="highlightList[2]"></app-card>
      </div>
    </div>
    <div class="others-news">
      <app-card *ngFor="let article of commonList" [news]="article"></app-card>
    </div>
  </ng-template>
</div>

